.App {
  text-align: center;
  background-image: url("https://picsum.photos/1350");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.input{
  border:0.1rem solid black;
  border-radius: 1rem;
  background: transparent;
}